<!-- THIS IS A BASE TEMPLATE FOR ALL OTHER PAGES-->
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <title>Let Go!乐购</title>

            <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" type="text/css"/>

        {% endblock %}

        {% block extraHead %}
        {% endblock %}
    </head>
    <body>
        <div id="container" align="center">
            <header id="header">
                {% block header %}
                <div style="float:none;width:300px;height:100px">
                    <img src="{{url_for("static", filename="images/banner_pre.png")}}" style="display:center; width:50px;height:50px"/>
                    <span style="color:black;font-size:40px;font-family:sansserif;">Let Go!乐购</span>
                </div>
                <div id="icon">
                        <img src="{{url_for("static", filename="images/ic_shopbag.png")}}"/>
                        <span>ShoppingBag</span>
                        <img src="{{url_for("static", filename="images/Group 2.png")}}"/>
                        <span>User</span>
                        <img src="{{url_for("static", filename="images/ic_logout.png")}}"/>
                </div>
                <div class="clr">
                </div>
                {% endblock %}
            </header>

            <div class="feature">
                {% block feature %}
                    <div class="feature-inner">
                        <h1>Let Go!乐购</h1>
                    </div>
                {% endblock %}
            </div>

            <div id="mainBody">
                {% block mainBody %}
                    
                {% endblock %}
            </div>

            <div id="footerblurb">
                {% block footerblurb %}
                    
                {% endblock %}
                <div class="clr">

                </div>
            </div>
            <footer id="footer">
                {% block footer %}
                    <div id="footer-inner">
                        <p><a href="#">Your ShoppingBag</a> &#124; <a href="#">Help</a> &#124; <a href="#">Contact</a></p>
                        <div class="clr"></div>
                    </div>
                {% endblock %}
                <div class="clr">

                </div>
            </footer>
        </div>
    </body>
</html>