<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="refresh" content="3;index"/>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>Welcome~</title>
        <link href="${contextPath}/static/css/bootstrap.min.css" rel="stylesheet">
        <style>
            html, #page {
                 padding: 0;
                margin: 0;
            }
            h1{
                color: coral;
                text-align:center;
            }
        </style>
	</head>
	
	<body>
		<div class="container">
		        <h1 align="center">Welcome to Let Go!乐购 Online-Shopping Web</h1>
		</div>
    </body>
    
</html>